doctype html
html
	head
		title #{title}
	body
		header
			h1 The Sky Network!
		.container
			.main-content
				p
					a(href="/containers") Containers
				div
					p
						| Create a new container
					form(name="createForm", action="/create", method="post")
						div
							label Port:
							input(type="text", name='createPort')
							label Join Port:
							input(type="text", name='joinPort')
							input(type="submit", value='Create')
				div
					p
						| Stop a container
					form(name="stopForm", action="/stop", method="post")
						div
							label Id:
							input(type="text", name='stopId')
							input(type="submit", value='Stop')
				div
					p
						| Delete a container
					form(name="deleteForm", action="/delete", method="post")
						div
							label Id:
							input(type="text", name='deleteId')
							input(type="submit", value='Delete')
